# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Playwright
test-results/
playwright-report/

# Allure
allure-results/
allure-report/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db